<div class="input-group-btn form_small " id="{{document}}">
    <button class="btn btn-default dropdown-toggle form-control" type="button"
             data-toggle="dropdown"> Documents <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        {% if documents %}
        {% for document in documents %}
            <li role="presentation">
                <a onclick="set_form('{{document}}', this)"
                   role="menuitem" tabindex="-1" href="#">{{document}}</a>
            </li>
        {% endfor %}
        {% else %}
            <span style="color: blue;">[please upload a document using the documents menu]</span>
        {% endif %}
    </ul>
</div>